body {
	font-family: Helvetica,STHeiti STXihei, Microsoft JhengHei, Microsoft YaHei, Arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
	width: 100%;
	background: #f1f2f6;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; /*--设置或检索是否允许用户选中文本。--*/
 	hutia:expression(this.onselectstart=function(){return(false)});
    -webkit-overflow-scrolling: touch;/*-----解决滚动不流畅问题----*/

}

/*--头部--*/
.header {
	position: fixed;
	width: 100%;
	background: #ff0000;
	top: 0;
	left: 0;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
}
.header_text {
	font-size: 20px;
	font-weight: bold;
}
.header_left {
	position: absolute;
	top: 10px;
	left: 7px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	line-height: 30px;
}

.header_right {
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	top: 10px;
	right: 7px;
	text-align: center;
	line-height: 30px;
}

/*--内容--*/
.main {
	margin-top: 50px;
	width: 100%;
	background-color: #fff;
}
.main_row {
	border-bottom: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	background-color: #fff7ee;
}
.main_row1 {
	/* border-bottom: 1px solid #ccc; */
	height: 30px;
	line-height: 30px;
}
.main_row2 {
	border-bottom: 1px solid #ccc;
	height: 35px;
	line-height: 35px;
}
.main_row3 {
	height: 30px;
	line-height: 30px;
}
.main_dateheader{
	width: 100%;
	background: #ff8080;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
}
.main_dateheader1{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #000;
}
.dateheader_left {
	position: absolute;
	top: 65px;
	left: 15px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
}

.dateheader_right {
	position: absolute;
	top: 65px;
	right: 15px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
}
.dateShow_left{
	font-size: 16px;
	font-weight: bold;
	float: left;
	margin-left: 10px;
}
.main_week{
	width: 14.28%;
	float: left;
	text-align: center;
}
.dateShow{
	margin-bottom: 10px;
}
.main_day{
	font-size: 16px;
	width: 14.28%;
	float: left;
	text-align: center;
	line-height: 30px;
}
.day{
	width:80%;
	height:25px;
	margin:2.5px 10%;
	line-height: 25px;
	border-radius: 10px;
}
.day_today{
	background-color: #c0c0c0;
	color: #fff;
}
.day_select{
	background-color: #ff4646;
	color: #fff;
}
.day_option{
	background-color: #ffbfbf;
	color: #fff;
}
.day_nooption{
	background-color: #f3f3f3;
}
.main_dateChoice{
	width: 100%;
	margin-top: 50px;
}
.dateChoice{
	padding:8px;
}
.dayShow{
	background-color: #fff;
}